<% if object.errors.any? %>
  <div class="error_message">
    <ul style="list-style: none; margin-left: -20px;">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>