<header>
  <nav class="navbar navbar-expand-xs navbar-dark">
    <a class="navbar-brand nav-title" href="/">MaxiApp2</a>
    <% if current_user %>
      <button class="navbar-toggler hamburger-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MaxiApp</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active nav-link">
              氏名：<%= current_user.name %>
            </li>  
            <li class="nav-item active nav-link">
              <%= link_to 'アカウント編集', edit_user_path(current_user.id) %>
            </li>
            <li class="nav-item active nav-link">
              <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="/going_outs">お出かけ一覧</a></li>
                <li><a class="dropdown-item" href="/salaries">売上</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    <% end %> 
  </nav>
</header> 
